@font-face {
  font-family: 'Morgenwalsh';
  src: url('29\ Morgenwalsh/Morgenwalsh.otf')
}

@font-face {
  font-family: 'Mitera';
  src: url('25\ Mitera/Mitera Regular.ttf')
}

@font-face {
  font-family: 'Cerlions';
  src: url('12\ Cerlions/Cerlions-Regular.otf')
}

@font-face {
  font-family: 'Brier';
  src: url('7\ Brier/Brier-Regular.otf')
}


.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-weight: lighter;
  text-align: center;
  letter-spacing: 3px;
  line-height: 58px;
  font-family: "Cerlions", sans-serif;
  font-size: 52px;
}

@media(max-width: 768px) {
  .header h1 {
    font-size: 26px;
  }
}
